/* Reset */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Josefin Sans', sans-serif;
}
h1{
    text-align: center;
}
img{
    height: 100px;
    display: inline-block;
}
.img-2{
    height: 90px;
}
#contenitore{
    max-width: 600px;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}
.quadrato{
    background-color: #089861;
    border: 1px solid green;
    height: 60px;
    width: 60px;
}
.quadrato:hover{
    background-color: #A9D7C4;
}
.verde{
    background-color: lightgreen;
}
.bomba-img{
    background-image: url(../img/bomba.jpeg);
    background-position: center;
    background-size: cover;
}
.difficolta{
    margin-left: 15%;
}
button{
    padding: 5px;
    border-radius: 10px;
    margin-top: 10px;
    background-color: #A5C7E8;
    border: 1px solid #0EB3AF;
}
button a{
    color: black;
    text-decoration: none;
    font-family: 'Josefin Sans', sans-serif;
}
button:hover{
    transform: scale(1.1);
    background-color: lightblue;
}