/* Reset */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    margin-top: 50px;
}
#contenitore{
    max-width: 600px;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}
.quadrato{
    background-color: green;
    border: 1px solid black;
    height: 60px;
    width: 60px;
}
.verde{
    background-color: lightgreen;
}
.bomba-img{
    background-image: url(../img/bomba.jpeg);
    background-position: center;
    background-size: cover;
}
/* h3{
    margin-top: 20px;
    text-align: center;
} */