/* Reset */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Josefin Sans', sans-serif;
}
h1{
    text-align: center;
    margin-bottom: 20px;
}
img{
    height: 100px;
    display: inline-block;
}
.img-2{
    height: 90px;
}
#contenitore{
    max-width: 600px;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}
.quadrato{
    background-color: #089861;
    border: 1px solid green;
    height: 60px;
    width: 60px;
}
.verde{
    background-color: lightgreen;
}
.bomba-img{
    background-image: url(../img/bomba.jpeg);
    background-position: center;
    background-size: cover;
}

/* h3{
    margin-top: 20px;
    text-align: center;
} */